<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/retail"
        android:label="@string/app_name"
        android:roundIcon="@drawable/retail"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".EditUser"></activity>
        <activity android:name=".Profile" />
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".KategoriBarang" />
        <activity android:name=".Barang" />
        <activity android:name=".TambahUser" />
        <activity android:name=".Penjualan" />
        <activity android:name=".MasterUser" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Login" />
    </application>

</manifest>